html {    
  font-size: 16px;
  line-height: 1.5;
  font-family: tektur;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color:#fff    
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth; 
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(9, 16, 45);
  border-radius: 20px;
  
}
  
body {
  background: #353b48;
    
}

a {
  text-decoration: none;  
}
  
img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
  
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;

}

.text1 {
  position:absolute;
  top:15%;
  left: 12%;
  display: flex;
}
  
.text2 {
  position:absolute;
  top:35%;
  left: 30%;
  display: flex;    
}

.animated1 {
  display:flex;
  align-items: center;
  justify-content: center;
}
  
.animated {
  list-style: none;
  font-size: 40px;
  letter-spacing: 5px;
  transition: 2s;  
}
    
.animated:hover{
  filter: blur(70px);
  opacity: 0;
}
.textA{
  display: block;
  font-family: tektur;
  letter-spacing: 1px;
  white-space: nowrap;
  border-right: 4px solid; 
  color:rgb(0, 26, 255);
  width: 25ch;
  animation: typing 2s steps(12), blink .5s infinite step-end alternate; 
  overflow: hidden; 
  
}


.textA2 {  
  margin: 25%;  
  padding: 0%;  
} 

@keyframes typing {
  from {width: 0 }
}
@keyframes blink {
  50% {border-color: transparent ;}
}
.header {
  position: sticky;
  top: 0;
  width: 100%;  
  height: 74px;
  box-shadow: 10px #2f3640;
  z-index: 3;
  background-color: #2f3640;    
}


  
.navbar {
  height: inherit;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  align-items: center;  
}
  
.logo {    
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  font-family: tektur;       
}

.logo:hover {
  transition: 1s;
  flex-basis: auto;    
  color: #001eff;   
 
}
  
.menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 20px;
}
  
.menu-link {  
  color: #fff;
  transition: color .3s;
  font-family: tektur;      
}


  
.menu-link:hover {
  transition: 1s;
  flex-basis: auto;    
  color: #001adb;
}
  



  
.services {
  max-width: 1024px;
  margin: 0;
  padding: 0 10px;    
  background-size: center;
  width: image 200px; 
}
  
  
.services-container {    
  left:4em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
  
.services-card {  
  background-color: #070609;
  border-radius: 8px;
  overflow: hidden;
}
  
.p1 {    
  font-family: tektur;
}

.h2 {
  font-family: tektur;
  max-width: 1024px;
  margin: 10px auto;
  padding:  50px;
  color:#fff;
  left: 3em;
  letter-spacing: 1px;   
} 
.h22 {
  font-family: tektur;
  max-width: 1024px;
  
  padding:  50px;
  color:#fff;
  left: 4em;
  letter-spacing: 1px;
  margin: 0 auto;
  width: fit-content;

}   
  
.div2 {
  left: 25%;
  
} 
.title {
  left: 4em;
}
.title-article { 
  font-size: 60px;
  font-family: dancing script;
  left: 4em;
}

.title-article1 {
  margin-left: 120px; 
  font-size: 80px;
  font-family: dancing script;
  left: 4em;  
}

.title-article2 {
  font-family: inherit;
}    
     
.text{  
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 1px;
  margin: 0 auto;
  width: fit-content;
}

.music{
  margin: 0 auto;
  width: fit-content;

}

  
.services-img {
  border-color: aquamarine;
  border-radius: 15px;
  width: 100%;
  height: 200px;
}


  
.services-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.services-info {
  background-color: #070609;
  padding: 20px;
}
  
.services-info h3,
.services-info p {
  margin: 0;
}

.div {
  margin: 0 auto;
  min-width: 700px;
  display: flex;
  justify-content: space-around;
  
  
}
.div a {  
  font-size: 38px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(115, 138, 160, 0.496);
  transition: all .4s ease-in-out;
}

.div a:hover {
  color: rgb(0, 89, 255);
  transform:scale(1.2)
}
  
  /* Media Queries */
  /* Max 0 - 768px <- Diseño Responsivo (desktop)*/
  
@media screen and (max-width: 768px) {
  body {
    background-color: #041d3a;
      
  } 
  
  .menu {
    position: fixed;
    top: 64px;
    left: 100%;
    background-color: #5A5A66;
    width: 85%;
    height: calc(50vh - 64px);
    padding: 30px 40px;
    transition: left .5s;
    border-radius: 10px;
    background-image: url(https://res.cloudinary.com/dfc7m5ola/image/upload/v1703871670/1536875829_1536875809___original_drawn_by_waneella__c63cae1344766f14d9d184e5aafed065_v5dapu.gif);

   
  }
  
  .show-menu {
    left: 0;
  }
  
  .menu-list {
    flex-direction: column;
    row-gap: 20px;
  }
  
  .menu-link {
    font-weight: 700;
    text-transform: uppercase;
  }
    
  .main {
    font: color #fff;
  }

  .p1 {    
    font-family: tektur;  
  }

  .h3 {    
    font-family: tektur;  
  }

  .div2 {
    border-radius: 20px;
  }
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    left: 100%;
    background-color: #142466;
    box-shadow: 0px 5px 10px 5px #142466;
    z-index: 3;
  } 

  
  .text1 {
    position:absolute;
    top: 10%;
    left: 0%;
    display: flex;
  }

  .text2 {
    position:absolute;
    top: 20%;
    left: 4%;
    display: flex;
  } 

  

  .animated {
    list-style: none;
    font-size: 2em;
    letter-spacing: 5px;
    transition: 2s;
  
  }

  .div9 {
    top: 15%;
  }
  
  .menu-link2 {  
    color: #fff;
    transition: color .3s;
    font-family: tektur;    
  }
  .textA2 {     
    margin: 5%;  
    padding-top: 50%;
    
  }
  .textA{
    display: block;
    font-family: tektur;
    font-size: 17px;
    letter-spacing: 1px;
    white-space: nowrap;
    border-right: 4px solid; 
    color:rgb(163, 171, 246);
    width: 26ch;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate; 
    overflow: hidden; 
    
  } 
  .div {
    margin: 0 auto;
    min-width: 500px;
    display: flex;
    justify-content: space-around;
    
    
  }
  .div a {  
    font-size: 38px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(115, 138, 160, 0.496);
    transition: all .4s ease-in-out;
  }
  
  .div a:hover {
    transform:scale(1.2)
  }
}       


.footy {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
   
}
@media screen and (min-width: 768px) {
  .btn-open {
    display: none;
  }
}
